@charset "utf-8";

/* CSS Document */

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #FFF;
}

.loading .pic {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.loading .pic i {
    display: block;
    float: left;
    width: 6px;
    height: 50px;
    background: #399;
    margin: 0px 2px;
    -webkit-transform: scaleY(0.4);
    -ms-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-animation: load 1.2s infinite;
    animation: load 1.2s infinite;
}

.images img {
    height: 100px;
    width: 120px;
    float: left;
    padding: 20px 15px 10px;
}

.loading .pic i:nth-child(1) {
}

.loading .pic i:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading .pic i:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading .pic i:nth-child(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading .pic i:nth-child(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes load {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes load {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}


