<!DOCTYPE html>
<html lang="en" ng-app="MyCSSModule">
<head>
    <meta charset="UTF-8">
    <title>CSSModule</title>
    <link rel="stylesheet" href="CSSModule.css">
</head>
<body>
<div ng-controller="CSSCtrl">
    <p class="text-{{color}}">测试CSS样式</p>
    <button class="btn btn-default" ng-click="setGreen()">绿色</button>
    <button class="btn btn-default" ng-click="setRed()">红色</button>
</div>
<script src="../angular-1.3.0/angular-1.3.0.js"></script>
<script src="CSSModule.js"></script>
</body>
</html>