@charset "utf-8";

/* CSS Document */


/* 底部 */

.footer {
    background-color: #D4D4D4;
    text-align: center;
    line-height: 24px;
    padding: 50px 0px;
}

.footer i {
    font-style: normal;
    margin: 0px 5px;
}

.footer a {
    color: #000;
}

.footer a：hover {
    color: #F60;
}

.web {
    padding-top: 30px;
}

.web img {
    margin: 0px 12px;
}

.hr_25 {
    height: 25px;
}