@charset "utf-8";

/* CSS Document */

/*登陆*/
.login_logo .comWidth {
    width: 460px;

}

.welcome_title {
    font: 22px/85px "Microsoft YaHei", "微软雅黑";
    color: #FFF;
    float: left;
    padding-left: 24px;
}

.loginBox {
    width: 458px;
    border: #999 solid 1px;
    margin: 10px auto;
    position: relative;
}

.login_cont {
    padding: 15px 76px;
}

.l_tit {
    color: #666;
    line-height: 20px;
}

.login_input {
    border: #999 solid 1px;
    height: 32px;
    line-height: 32px \9;
    text-indent: 5px;
    width: 100%;
}

.user_icon {
    background: url("../images/icon/user_icon.jpg") right center no-repeat;

}

.mb_10 {
    margin-bottom: 10px;
}

.autoLogin {
    padding-top: 27px;
    padding-bottom: 28px;
    float: left;
    margin-right: 15px;
}

.checked {
    position: relative;
    top: 3px;
    margin-right: 3px;
}

.login_btn {
    display: inline-block;
    width: 309px;
    height: 36px;
    background: url("../images/icon/login_btn.jpg") left top no-repeat;
}

.login_partners {
    padding-top: 34px;
}

.login_list li {
    float: left;
    line-height: 20px;
}

.login_list span {
    color: #999;
    margin: 0 2px;
}

.reg_link {
    width: 115px;
    height: 31px;
    background: url("../images/icon/red_link.jpg") left top no-repeat;
    position: absolute;
    right: 31px;
    bottom: -31px;

}
















