/*all tag*/
* {
    font-family: 'Microsoft YaHei UI';
    font-size: 1.5625vw;
    /*margin和padding会导致在网页中闪动*/
    margin: 0;
    padding: 0;
    border: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

/*music*/
.music {
    position: fixed;
    top: 3vh;
    right: 4vw;
    z-index: 5;
    width: 15vw;
    height: 15vw;
    border: 4px solid #ef1639;
    border-radius: 50%;
    background: #fff;
}

/*指针*/
.music > img:first-of-type {
    position: absolute;
    top: 24%;
    right: 2.5%;
    z-index: 1;
    width: 28.421%;
}

/*碟片*/
.music > img:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 79%;
    margin: auto;
}

/*碟片旋转动画*/
.music > img.play {
    -webkit-animation: music_disc 4s linear infinite;
    /*并不考虑其他引擎，只考虑webkit和默认*/
    animation: music_disc 4s linear infinite;
}

@-webkit-keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes music_disc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*page background*/
.page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.page > .bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}

/*page 1*/
#page1 {
    display: block;
}

#page1 > .bg {
    background: url("../img/p1_bg.jpg") no-repeat center center;
    background-size: 100%;
}

#page1 > .pg1_lantern {
    position: absolute;
    top: -3.4%;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../img/p1_lantern.png") no-repeat center bottom;
    background-size: 100%;
    width: 45vw;
    height: 71.2vh;
    font-size: 3.506rem;
    color: #fff;
    padding-top: 31vh;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*-moz-box-sizing: border-box;*/
    /*-ms-box-sizing: border-box;*/
    /*-o-box-sizing: border-box;*/
    box-sizing: border-box;
}

#page1 > .pg1_lantern:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    margin: auto;
    width: 30vw;
    height: 30vw;
    background: #d60b3b;
    /*半透明*/
    opacity: .5;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10vw 10vw #d60b3b;
    /*-moz-box-shadow: 0 0 10vw 10vw #d60b3b;*/
    /*-ms-box-shadow: 0 0 10vw 10vw #d60b3b;*/
    /*-o-box-shadow: 0 0 10vw 10vw #d60b3b;*/
    box-shadow: 0 0 10vw 10vw #d60b3b;

    /*红灯笼闪烁特效*/
    /*infinite：重复
     alternate：反向*/
    -webkit-animation: p1_lantern .5s infinite alternate;
    animation: p1_lantern .5s infinite alternate;
}

@-webkit-keyframes p1_lantern {
    0% {
        /*透明度*/
        opacity: 0.5;
        -webkit-webkit-transform: scale(.8, .8);
        webkit-transform: scale(.8, .8);
    }
    100% {
        /*透明度*/
        opacity: 1;
    }
}

@keyframes p1_lantern {
    0% {
        /*透明度*/
        opacity: 0.5;
        -webkit-webkit-transform: scale(.8, .8);
        webkit-transform: scale(.8, .8);
    }
    100% {
        /*透明度*/
        opacity: 1;
    }
}

#page1 > .pg1_imooc {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 9vh;
    background: url("../img/p1_imooc.png") no-repeat center center;
    background-size: 100%;
    width: 27.656vw;
    height: 18.63vh;
    margin: auto;
}

#page1 > .pg1_words {
    font-size: 2.134rem;
    position: absolute;
    right: 0;
    bottom: 48px;
    left: 0;
    text-align: center;
    color: #231815;
}

/*page 2*/
#page2 {
    display: none;
    -webkit-transition: .5s;
    transition: .5s;
}

#page2.fadeOut {
    opacity: .3;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

#page2 > .bg {
    background: url("../img/p2_bg.jpg") no-repeat center center;
    background-size: 100%;
}

#page2 > .pg2_loading {
    z-index: 4;
    background: #ef1639;
    -webkit-animation: pg2_loading 1s linear forwards;
    animation: pg2_loading 1s linear forwards;
}

/*优化第二页载入*/
@-webkit-keyframes pg2_loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes pg2_loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#page2 > .pg2_circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: url("../img/p2_circle_outer.png") no-repeat center center;
    background-size: 100%;
    width: 59.375vw;
    height: 59.375vw;
    /*最外圈*/
    -webkit-animation: p2_circle_outer 1s linear 3s infinite;
    animation: p2_circle_outer 1s linear 3s infinite;
}

/*最外圈动画*/
@-webkit-keyframes p2_circle_outer {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes p2_circle_outer {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

#page2 > .pg2_circle:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    content: '';
    background: url("../img/p2_circle_middle.png") no-repeat center center;
    background-size: 100%;
    width: 45.625vw;
    height: 45.625vw;
    /*中圈*/
    -webkit-animation: p2_circle_middle 1s linear 2s infinite;
    animation: p2_circle_middle 1s linear 2s infinite;
}

/*中圈动画*/
@-webkit-keyframes p2_circle_middle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes p2_circle_middle {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

#page2 > .pg2_circle:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 50%;
    content: '';
    background: url("../img/p2_circle_inner.png") no-repeat center center;
    background-size: 100%;
    width: 39.9375vw;
    height: 39.9375vw;
    /*最内圈*/
    -webkit-animation: p2_circle_inner 1s linear 1s infinite;
    animation: p2_circle_inner 1s linear 1s infinite;
}

/*最内圈动画*/
@-webkit-keyframes p2_circle_inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-1080deg);
        transform: rotate(-1080deg);
    }
}

@keyframes p2_circle_inner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-1080deg);
        transform: rotate(-1080deg);
    }
}

#page2 > .pg2_2016 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url("../img/p2_2016.png") no-repeat center center;
    background-size: 100%;
    width: 27.5vw;
    height: 6.24vh;
}

/*page 3*/
#page3 {
    display: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#page3.fadeIn {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

#page3 > .bg {
    background: url("../img/p3_bg.jpg") no-repeat center center;
    background-size: 100%;
}

#page3 > .pg3_logo {
    width: 34.6875vw;
    height: 6.327vh;
    position: absolute;
    top: 7.82vh;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../img/p3_logo.png") no-repeat center center;
    background-size: 100%;
}

#page3 > .pg3_title {
    width: 48.125vw;
    height: 50vh;
    position: absolute;
    top: 21vh;
    right: 0;
    left: 0;
    margin: auto;
    background: url("../img/p3_title.png") no-repeat center center;
    background-size: 100%;
}

#page3 > .pg3_second {
    width: 22.8125vw;
    height: 41.652vh;
    position: absolute;
    top: 25.48vh;
    left: 3.75vw;
    background: url("../img/p3_couplet_second.png") no-repeat center center;
    background-size: 100%;
}

#page3 > .pg3_first {
    width: 22.8125vw;
    height: 41.652vh;
    position: absolute;
    top: 25.48vh;
    right: 3.75vw;
    background: url("../img/p3_couplet_first.png") no-repeat center center;
    background-size: 100%;
}

#page3 > .pg3_blessing {
    width: 32vw;
    height: 32vw;
    position: absolute;
    right: 0;
    bottom: 10vh;
    left: 0;
    margin: auto;
    border-radius: 50%;
    background: url("../img/p3_blessing.png") no-repeat center center;
    background-size: 100%;
    /*福字特效*/
    -webkit-animation: p3_blessing 2s linear infinite;
    animation: p3_blessing 2s linear infinite;
}

@-webkit-keyframes p3_blessing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes p3_blessing {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
















