/*购物车*/
.stepBox {
    width: 396px;
    padding-top: 26px;
}

.step {
    background: url("../images/step.jpg") left top no-repeat;
    height: 19px;

}

.step_text {
    color: #FFF;
    font-size: 12px;
    line-height: 30px;
}

.step_text li {
    float: left;
}

.s01, .s03 {
    width: 30%;
}

.s02 {
    width: 40%;
    text-align: center;
}

.s03 {
    text-align: right;
}

.step_text .active {
    color: #F3E402;
    font-weight: bold;
}

.shoppingCart {
    padding-top: 10px;
}

.shopping_item {
    border: #CCC solid 1px;
}

.shopping_tit {
    background: url("../images/shopping_bg.jpg") left top repeat-x;
    height: 31px;
    font: 16px/31px "Microsoft YaHei", "微软雅黑";;
}

.padding_shop{
    padding:25px 30px;
}


























